---

---

<section class="hero-section mx-auto h-screen w-full">
  <div
    class="hero-title flex items-center justify-center rounded-lg bg-slate-100 p-4 text-6xl font-bold text-blue-800"
  >
    <h1>Nueva web app</h1>
  </div>
</section>
